@import url(http://fonts.googleapis.com/css?family=Raleway:300,600);

/* Bootstrap overrides */

.ft-krc-content textarea:hover,
.ft-krc-content textarea:active,
.ft-krc-content textarea:focus,
.ft-krc-content input[type=text]:hover,
.ft-krc-content input[type=text]:active,
.ft-krc-content input[type=text]:focus
{
    outline:0;
    -moz-appearance:none;
    -webkit-appearance:none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.glyphicon {
  color: white;
}

/* Kippt styling */

#id_title {
  position: absolute;
  top: 11px;
  text-align: center;
}

#kippt-actions .toggle {
    background-image:url(/img/extension-sprite.png);
    background-repeat:no-repeat;
}

.existing {
    position: absolute;
    margin: 11px 11px 0 0;
    top: 25px;
    right: 25px;
}

.existing .loading {
    margin-top: 7px;
}

.existing a {
    display: none;
    font-size: 13px;
    text-decoration: none;
}

#kippt-list {
}

#kippt-list input {
}

#kippt-list select {
}

#kippt-list #id_new_list {
    padding: 4px 2px;
    font-weight: normal;
}

#kippt-list #new_list {
    display: none;
    font-size: 13px;
}

#kippt-list #new_list #id_private {
    margin-left: 12px;
}

.kippt-later {
    display: inline-block;
    padding: 4px;
    font-size: 12px;
    text-decoration: none;
    vertical-align:middle;
}


#kippt-actions {
    border-top:1px solid #ccc;
    padding:8px;
    position:relative;
}

#kippt-actions > div {
    padding:2px;
    width:41px;
    height:24px;
    display:inline-block;
    line-height:20px;
    border-radius:2px;
    margin-top:3px;
    position:relative;
}

#kippt-actions .toggle {
    display:inline-block;
    width:20px;
    height:20px;
    text-align:center;
    margin-top: 1px;
    border-radius:2px;
    line-height:18px;
    vertical-align:middle;
}

#kippt-actions .toggle {
    background:url(../img/extension-sprite.png) no-repeat;
}

#kippt-actions .twitter .toggle {
    background-position:-25px -25px;
}

#kippt-actions .facebook .toggle {
    background-position:-25px 1px;
}

#kippt-actions .buffer .toggle {
    background-position:-25px -56px;
}

#kippt-actions .appdotnet .toggle {
    background-position:-84px -28px;
}

#kippt-actions .tumblr .toggle {
    background-position:-54px -28px;
}

#kippt-actions .instapaper .toggle {
    background-position:-54px -57px;
}

#kippt-actions .readability .toggle {
    background-position:-54px -83px;
}

#kippt-actions .pocket .toggle {
    background-position:-25px -84px;
}

#kippt-actions .buffer, #kippt-actions .appdotnet, #kippt-actions .tumblr, #kippt-actions .instapaper, #kippt-actions .readability, #kippt-actions .pocket {
  display:none;
}

#submit_clip, a.button {
    position: absolute;
    bottom: 4px;
    right: 10px;
}


/* ft-krc Styling */

body {
  background-color:transparent;
}

.ft-krc-background {
   background: url(../img/twinkle_twinkle_bg.png);
   position: fixed;
   bottom: 0;
   background-position: center;
   background-repeat: repeat;
   opacity: 0.86;
   width: 100%;
   height: 100%;
   z-index: 4999;
   padding: 0 20px 0 20px;
}

.ft-krc-container ::-webkit-scrollbar {
    display: none;
}

.ft-krc-container {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 100%;
   z-index: 5000;
   padding: 0 20px 0 20px;
   text-align: left;
   /*font-family: 'Raleway', Arial, serif !important;*/
   /*font-weight: 300;*/
   color: white;
}

.ft-krc-header {
}


.ft-krc-content {
  position: relative;
  overflow:auto;
  overflow-x: hidden;
  margin: 0;
  height:100%;
}

.ft-krc-name {
/*  display: inline-block;
  width: 6%;*/
}

.ft-krc-tags-container {
  border-bottom: 1px dotted white;
}
.ft-krc-text {
  background-color:transparent;
  color:white;
  border:0;
  padding: 6px 0px 6px 0px;
}

.ft-krc-tags {
  font-size: 21px;
  margin-top: -14px;
  padding-bottom: 0px;

}

.ft-krc-logo {
   float: right;
   padding-top: 14px;
   margin-right: -10px;
}


/*
font-family: 'Raleway', Arial, serif; font-weight: 300;
font-family: 'Raleway', Arial, serif; font-weight: 600;
*/
