.ft-krc-shell {
   position: fixed;
   top: 0;
   right: 0;
   height: 100%;
   width: 400px;
   z-index: 5000;
   display: none;
}

.ft-krc-shell iframe {
  height: 100%;
  width: 100%;
  border: 0;
}
